<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://kit.fontawesome.com/c939d0e917.js"></script>
  <title>Thank You</title>


  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <style lang="css">
    .center {
        min-height: 100vh;
        margin: 0;
        border-radius: 0px;
        display: flex;
        align-items: center;
        background-image: linear-gradient(to right, rgba(213, 215, 231, 0), rgb(2, 68, 105));
        
    }

  
   
  </style>
</head>

<body >
  
  <div class="jumbotron text-center center">
    <div class="container">
      <h1 class="display-3"><b>Thank You!!!!</b></h1>
      <div class="row">

        <div class="col-sm-4 mx-auto">
          <a class="btn btn-success btn-lg btn-block" href="https://acment.in" role="button">
            <i class="fas fa-home"></i> &nbsp; Home Page</a><br>
            <span style="font-size: 20sp; color: Dodgerblue;"><a class="btn btn-warning btn-lg btn-block" href="https://www.linkedin.com/company/acment/" role="button" >
            <i class="fab fa-linkedin"></i>  &nbsp; Contact Us</a></span>
        </div>
      </div>
    </div>
  </div>
</body>

</html>